$darkmode: True;
$transparent: False;
$background: #0F0E0F;
$onBackground: #E9E4E8;
$surfaceContainer: #1A191B;
$surfaceContainerHigh: #201F21;
$onSurface: #E9E4E8;
$onSurfaceVariant: #ADAAAD;
$outline: #777478;
$primary: #C9C4D0;
$error: #EC7C8A;
$term0: #131214;
$term1: #E84CEB;
$term2: #FFBAC2;
$term3: #FFDCE8;
$term4: #91ADD6;
$term5: #CA98DD;
$term6: #93D0F9;
$term7: #EBD1DA;
$term8: #C7B4BB;
$term9: #FFA0F7;
$term10: #FFFCFF;
$term11: #FFFFFF;
$term12: #CADEF6;
$term13: #F8CAFF;
$term14: #F8FBFF;
$term15: #EAE3F2;
