$darkmode: False;
$transparent: False;
$background: #FDF8FA;
$onBackground: #1C1B1E;
$surfaceContainer: #F1ECEF;
$surfaceContainerHigh: #EBE6E9;
$onSurface: #1C1B1E;
$onSurfaceVariant: #49454E;
$outline: #7A757F;
$primary: #65558F;
$error: #BA1A1A;
$term0: #FDF8FA;
$term1: #B3261E;
$term2: #386A20;
$term3: #7D5700;
$term4: #3F5F90;
$term5: #7D4E7D;
$term6: #006A6A;
$term7: #1C1B1E;
$term8: #7A757F;
$term9: #DC362E;
$term10: #4C8A2F;
$term11: #A07000;
$term12: #5A7BB0;
$term13: #9A6A9A;
$term14: #1A8A8A;
$term15: #000000;
